<div class="partial-container">
        
        <!-- Normal View -->
        <div class="row hidden-xs">
            <div class="col-xs-6">
                <img class="about-photo" src="img/ramen_circle.jpg">
            </div>
            
            <div class="col-xs-6 about-desc">
                <div class="about-aligntable">
                    <div class="about-aligncell">
                        <h2>hello.</h2>
                        <p>My name is Andrew. I am originally from SoCal and am currently in my third year studying Computer Science at Cal.</p>
                        <p>When I'm not swamped by school and work, I enjoy long-distance running or playing DotA 2. I also rock climb, play soccer and practice the guitar.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- XS View -->

        <div class="row visible-xs xs">
            <div class="col-xs-1">
                <!-- Filler -->
            </div>
            <div class="col-xs-10">
                <div class="about-desc about-desc-xs">
                    <h2>hello!</h2>
                </div>
                <div class="about-photo-xs">
                    <img src="img/ramen_circle.jpg">
                </div>
                <div class="about-desc">
                    <p>I'm Andrew. I'm in my third year studying Computer Science at Cal, and I aspire to apply data to better advise business decisions. </p>
                    <p>When I'm not swamped by school and work, I enjoy running or playing DotA 2. On rarer occassions, I rock climb, play soccer and practice the guitar.</p>
                </div>
            </div>
            <div class="col-xs-1">
                <!-- Filler -->
            </div>
        </div>


</div>
