<div class="partial-container">
        
        <!-- Normal View -->
        <div class="row hidden-xs">
            <div class="col-xs-6">
                <img class="about-photo" src="img/pro.jpg">
            </div>
            
            <div class="col-xs-6 about-desc">
                <div class="about-aligntable">
                    <div class="about-aligncell">
                        <h2>hello.</h2>
                        <p>My name is Wesley. Nice to meet you. I am currently in my third year studying Electical Engineering and Computer Sciences at Cal. Go Bears!
                        <p>In my spare time I like to cook, eat, and brainstorm ideas with my friends. Currently collecting recipes for anything. Give them to me <a href="mailto:wesleywu@berkeley.edu?Subject=Recipe%20here" target="_top">here.</a></p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- XS View -->

        <div class="row visible-xs xs">
            <div class="col-xs-1">
                <!-- Filler -->
            </div>
            <div class="col-xs-10">
                <div class="about-desc about-desc-xs">
                    <h2>hello.</h2>
                </div>
                <div class="about-photo-xs">
                    <img src="img/pro.jpg">
                </div>
                <div class="about-desc">
                    <p>My name is Wesley. Nice to meet you. I am currently in my third year studying Electical Engineering and Computer Sciences at Cal. Go Bears!
                        <p>In my spare time I like to cook, eat, and brainstorm ideas with my friends. Currently collecting recipes for anything. Give them to me <a href="mailto:wesleywu@berkeley.edu?Subject=Recipe%20here" target="_top">here.</a></p>
                </div>
            </div>
            <div class="col-xs-1">
                <!-- Filler -->
            </div>
        </div>


</div>
