<div class="partial-container">
	
    <!-- SpoonRocket -->
    <div class="row">
        <div class="col-xs-1">
            <!-- Filler -->
		</div>
        <div class="col-xs-10">
				<div class="project-panel">
                    <div class="panel-hover project-aligntable">
                        <div class="project-aligncell">
                            <div class="hidden-xs">
                                <h2>Lazee (In progress)</h2>
                                <p>Web tool to help students find the paths they will be taking between classes on campus. Built with AngularJS and Bootstrap. Using API from NinjaCourses and Google Maps. </p>
                                <p>Not yet available.</p>
                            </div>

                            <div class="visible-xs xs">
                                <h2>Lazee (In progress)</h2>
                                <p>Web tool to help students find the paths they will be taking between classes on campus. Built with AngularJS and Bootstrap. Using API from NinjaCourses and Google Maps. </p>
                                <p>Not yet available.</p>
                            </div>
                        </div>
                    </div>
                    <div class = "helper"></div><img src="img/lazee.png">
				</div>
		</div>
        <div class="col-xs-1">
            <!-- Filler -->
		</div>
    </div>
    
    <!-- VibeFire -->
    <div class="row">
        <div class="col-xs-1">
            <!-- Filler -->
		</div>
        <div class="col-xs-10 hidden-xs-*">
				<div class="project-panel">
                                        <div class="panel-hover project-aligntable">
                        <div class="project-aligncell">
                            <div class="hidden-xs">
                                <h2>The Berkeley Forum</h2>
                                <p>As Director of Technology of The Berkeley Forum, I created and managed the content of the website. The site was built in HTML and CSS. The website provides timely information of the organization's updates and upcoming events drawing traffic from Facebook through targeted ads. We are in the process of revamping the website's front-end.</p>
                                <p>Live at <a href=http://forum.berkeley.edu>http://forum.berkeley.edu</a></p>
                            </div>

                            <div class="visible-xs xs">
                                <h2>The Berkeley Forum</h2>
                                <p>As Director of Technology of The Berkeley Forum, I created and managed the content of the website. The site was built in HTML and CSS. The website provides timely information of the organization's updates and upcoming events drawing traffic from Facebook through targeted ads. We are in the process of revamping the website's front-end.</p>
                                <p>Live at <a href=http://forum.berkeley.edu>http://forum.berkeley.edu</a></p>
                            </div>
                        </div>
                    </div>
                    <div class = "helper"></div><img src="img/tbf.png">
				</div>
		</div>
        
        <div class="col-xs-1">
            <!-- Filler -->
		</div>
    </div>
    
    <!-- Weighted Undirected Graphs -->
    <div class="row">
        <div class="col-xs-1">
            <!-- Filler -->
		</div>
        <div class="col-xs-10">
				<div class="project-panel">
                                        <div class="panel-hover project-aligntable">
                        <div class="project-aligncell">
                            <div class="hidden-xs">
                                <h2>ConnectPRO</h2>
                                <p>I assist ConnectPRO was a UX and front-end developer intern. Using primarily Wordpress/PHP/JS for the front-end, I helped redesign the website layout and shopping experience. I also used SQL to track customers and improve customer followthrough.</p>
                                <p>Live at <a href=http://connectpro.com>http://connectpro.com</a></p>
                            </div>

                            <div class="visible-xs xs">
                                <h2>ConnectPRO</h2>
                                <p>I assist ConnectPRO was a UX and front-end developer intern. Using primarily Wordpress/PHP/JS for the front-end, I helped redesign the website layout and shopping experience. I also used SQL to track customers and improve customer followthrough.</p>
                                <p>Live at <a href=http://connectpro.com>http://connectpro.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class = "helper"></div><img src="img/connectpro.png">
				</div>
		</div>
        <div class="col-xs-1">
            <!-- Filler -->
		</div>
    </div>
    
</div>
