<div class="partial-container">
	
    <!-- SpoonRocket -->
    <div class="row">
        <div class="col-xs-1">
            <!-- Filler -->
		</div>
        <div class="col-xs-10">
				<div class="project-panel">
                    <div class="panel-hover project-aligntable">
                        <div class="project-aligncell">
                            <div class="hidden-xs">
                                <h2>SpoonRocket Data Analysis</h2>
                                <p>I assist SpoonRocket with data analysis as a finance intern. Utilizing primarily PostgreSQL and Excel, I influenced decisions concerning order forecasting, driver scheduling, and customer acquisition. I also created models to track and analyze driver sessions and sold out times of items. I am currently analyzing user preferences and trends for more accurate forecasting metrics.</p>
                            </div>

                            <div class="visible-xs xs">
                                <h2>SpoonRocket Data Analysis</h2>
                                <p>I assist SpoonRocket with data analysis as a finance intern. Utilizing primarily PostgreSQL and Excel, I influenced decisions concerning order forecasting, driver scheduling, and customer acquisition. I also created models to track and analyze driver sessions and sold out times of items. I am currently analyzing user preferences and trends for more accurate forecasting metrics.</p>
                            </div>
                        </div>
                    </div>
                    <div class = "helper"></div><img src="img/spoonrocket.png">
				</div>
		</div>
        <div class="col-xs-1">
            <!-- Filler -->
		</div>
    </div>
    
    <!-- VibeFire -->
    <div class="row">
        <div class="col-xs-1">
            <!-- Filler -->
		</div>
        <div class="col-xs-10 hidden-xs-*">
				<div class="project-panel">
                                        <div class="panel-hover project-aligntable">
                        <div class="project-aligncell">
                            <div class="hidden-xs">
                                <h2>VibeFire</h2>
                                <p>This music discovery application was built in less than 48 hours at LA Hacks 2014. The application is built on Rails and implements the Gracenote Rhythms API to access song, artist, and other information. I focused on the front-end development of this project.</p>
                                <p>Code available on <a href=https://github.com/andrewkoo/vibe-fire>GitHub</a></p>
                            </div>

                            <div class="visible-xs xs">
                                <h2>VibeFire</h2>
                                <p>This music discovery application was built in less than 48 hours at LA Hacks 2014. The application is built on Rails and implements the Gracenote Rhythms API to access song, artist, and other information. I focused on the front-end development of this project.</p>
                                <p>Code available on <a href=https://github.com/andrewkoo/vibe-fire>GitHub</a></p>
                            </div>
                        </div>
                    </div>
                    <div class = "helper"></div><img src="img/vibefire.png">
				</div>
		</div>
        
        <div class="col-xs-1">
            <!-- Filler -->
		</div>
    </div>
    
    <!-- Weighted Undirected Graphs -->
    <div class="row">
        <div class="col-xs-1">
            <!-- Filler -->
		</div>
        <div class="col-xs-10">
				<div class="project-panel">
                                        <div class="panel-hover project-aligntable">
                        <div class="project-aligncell">
                            <div class="hidden-xs">
                                <h2>Alpha Kappa Psi</h2>
                                <p>As the IT Director of the business fraternity Alpha Kappa Psi, I manage the content and maintenance of the website. The site was built on Rails and maintains a database of fraternal documents, academic resources, and active forums. We are in the process of revamping the website's front-end.</p>
                                <p>Live at <a href=http://calakpsi.com>http://calakpsi.com</a></p>
                            </div>

                            <div class="visible-xs xs">
                                <h2>Alpha Kappa Psi</h2>
                                <p>As the IT Director of the business fraternity Alpha Kappa Psi, I manage the content and maintenance of the website. The site was built on Rails and maintains a database of fraternal documents, academic resources, and active forums. We are in the process of revamping the website's front-end.</p>
                                <p>Live at <a href=http://calakpsi.com>http://calakpsi.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class = "helper"></div><img src="img/akpsi.png">
				</div>
		</div>
        <div class="col-xs-1">
            <!-- Filler -->
		</div>
    </div>
    
</div>
